@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
	font-family: 'Merriweather', serif;
	background: #1e90ff;
    margin:0;
    padding:0;
}

a + p {
	color: black;
}

a ~ p {
	line-height: 0.9;
	font-weight: bold;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.section .content {
	margin-top: 150px;
	text-align: center;
	width: 500px;
	height: 500px;
	background-color: whitesmoke;
	
}
.section .content button {
	padding: 10px;
	width: 100px;
	height: 40px;
	border-radius: 50px;
}
.section .content button:hover {
	outline: none;
}
.section .content form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section .content form div {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-top: 10px;
}
.section .content form div input {
	padding: 10px;
	font-size: 14px;
	border: 1px solid dimgray;
	background-color: white;
	border-radius: 50px;
}
.section .content form div input:focus {
	border-color: #1cd211;
	outline: none;
}
.section div button {
	background-color: orangered;
	border: none;
	color: white;
	align-self: center;
	font-size: 16px;
	margin-top: 10px;
	text-decoration: none;
}
.section .content form div button:hover {
	background-color: limegreen;
}
.section .content footer {
	padding-top: 15px;
	text-align: center;
}
.section .content footer a {
	color: black;
	font-size: 14px;
}

form a {
	text-decoration: none;
	color: white;
}

/*-----------------------------------------------------*/
.header1 {
    width: 100%;
    top: 0;
    z-index: 1;
	position: fixed;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}

nav div {
    height: 30px;
    padding: 10px;
}

div img {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}
div.search-container > input {
	box-sizing: border-box;
	width: 80%;
	height: 30px;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container {
	width: 50%;
}

div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid dodgerblue;
    cursor: pointer;
    background-color: dodgerblue;
}

.indexfooter {
    position: absolute;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background:steelblue;
    text-align: center;
}


/* telefoni ekraani jaoks*/
  
 @media screen and (max-width: 720px) {
	 .section .content {
		 padding-right: 0;
		 padding-left: 0;
		 margin: 0 10px;
	}
}
=======


.cont {
    margin-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    background-color: white;
    margin: auto;
    width: 70%;
    bottom: 0;
    padding: 10px;

}   
.main-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-bottom: 50px;;
    margin-top: 20px;
    border: 2px solid gray;
    box-shadow: 0 -20px 30px #4d4d4d;
}
#image {
    height:30px;
    width: 30px;;
    padding: 10px;
}
.wrapper{
    position: relative;
}
.row{
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.wrapper{
    width: 100%;
}
.image{
    width: 50%;
    float: left;
}
.date{
    width: 50%;
    float: right;
}
.date p {
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}
.text p {
    text-align: center;
    padding: 5px;
}
.bigImage img {
    width: 100%;
}

hr{
    border:1px solid gray;
    width: 100%;
    margin: 0;
}
.row #image:hover {
    width: 35px;
    height: 35px;
    padding: 8px;
    
}
p ~ ul {
    padding-left: 30%;
    font-size: 18px;
    font-style: italic;
  }

