<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
	font-family: 'Merriweather', serif;
	background: dodgerblue;
}
.section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
a {
	color: dodgerblue;
}
.section .content {
	margin-top: 150px;
	width: 500px;
	height: 500px;
	background-color: whitesmoke;
	text-align: center;
}
.section .content button {
	padding: 10px;
	width: 100px;
	height: 40px;
	border-radius: 50px;
}
.section .content button:hover {
	outline: none;
}
.section .content form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section .content form div {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-top: 10px;
}
.section .content form div input {
	padding: 10px;
	font-size: 14px;
	border: 1px solid dimgray;
	background-color: white;
	border-radius: 50px;
}
.section .content form div input:focus {
	border-color: #1cd211;
	outline: none;
}
.section .content form div button {
	background-color: orangered;
	border: none;
	color: #ffffff;
	align-self: center;
	margin-top: 10px;
}
.section .content form div button:hover {
	background-color: limegreen;
}
.section .content footer {
	padding-top: 15px;
	text-align: center;
}
.section .content footer a {
	color: black;
	font-size: 14px;
}
/*-----------------------------------------------------*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;   
}

body {
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
}

nav {
    margin-top: -8px;
    position: relative;
    height: 50px;
    width: 100%;
    background: white;
    z-index: 2;
}

.fixed {
    position: fixed;
  }
  
.container {
	margin: 80px;
	max-width: 1200px;
}

nav .logo {
    position: absolute;
    top: 50%;
    transform:translate(-50%, -20%);
    height: 47px;
    width: 121px;
    background-image: URL(x.png);
    background-repeat: no-repeat;
  }

nav img {
    height: 50%;
    padding: 5%;
}

nav div.search-container > input {
    position: absolute;
    right: 35%;
    top: 40%;
    transform:translate(-50%, -20%);
    height: 20px;
    width: 20%;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

nav div.search-container > button {
    position: absolute;
    right: 30%;
    top: 40%;
    transform:translate(-50%, -20%);
    height: 30px;
    width: 10%;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.centercolumn {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:white;
    
}

.centercolumn footer p {
    font-size: 15px;
}
       

/* telefoni ekraani jaoks*/
  
 @media screen and (max-width: 720px) {
	 .section .content {
		 padding-right: 0;
		 padding-left: 0;
		 margin: 0 10px;
	}
} 
>>>>>>> master
