@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
	font-family: 'Merriweather', serif;
	background: dodgerblue;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.section .content {
	margin-top: 150px;
	width: 500px;
	height: 500px;
	background-color: whitesmoke;
	text-align: center;
}
.section .content button {
	padding: 10px;
	width: 100px;
	height: 40px;
	border-radius: 50px;
}
.section .content button:hover {
	outline: none;
}
.section .content form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section .content form div {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-top: 10px;
}
.section .content form div input {
	padding: 10px;
	font-size: 14px;
	border: 1px solid dimgray;
	background-color: white;
	border-radius: 50px;
}
.section .content form div input:focus {
	border-color: #1cd211;
	outline: none;
}
.section .content form div button {
	background-color: orangered;
	border: none;
	color: white;
	align-self: center;
	font-size: 16px;
	margin-top: 10px;
}
.section .content form div button:hover {
	background-color: limegreen;
}
.section .content footer {
	padding-top: 15px;
	text-align: center;
}
.section .content footer a {
	color: black;
	font-size: 14px;
}